:root {
  --main-text-color: #434455;
  --main-text-color-2: #f4f4fd;
  --background-color: #fff;
  --background-color-2: #e7e9fc;
  --main-page-color: #2e2f42;
  --main-page-color-2: #4d5ae5;
  --active-links-color: #404bbf;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  margin-left: 156px;
  margin-right: 156px;
}

.section {
  padding: 120px 0;
}

.images {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--background-color-2);
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.page-navigation {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
}

.headline-flex {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
}

.website-logo {
  font-family: "Raleway", sans-serif;
  color: var(--main-page-color-2);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo {
  color: var(--main-page-color);
  font-family: "Raleway", sans-serif;
}

.list {
  list-style: none;
}

.table-of-contents {
  color: var(--main-page-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  padding: 24px 0;
}

.header-contacts {
  font-style: normal;
}

.mail-address-phone-number {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.table-of-contents:hover,
.table-of-contents:focus,
.mail-address-phone-number:hover,
.mail-address-phone-number:focus {
  color: var(--active-links-color);
}

.headline-background {
  background: var(--main-page-color);
  padding: 188px 0;
}

.main-page-header {
  color: var(--background-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 1.12px;
  text-align: center;
  max-width: 496px;
}

.button-order-service {
  font-family: "Roboto", sans-serif;
  color: var(--background-color);
  background: var(--main-page-color-2);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
}

.button-order-service:hover,
.button-order-service:focus {
  color: var(--background-color);
  background: var(--active-links-color);
}

.company-main-goals {
  color: var(--main-page-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.main-goals-text {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.company-main-goals-flex {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.main-goals-description {
  display: flex;
  width: 264px;
  flex-direction: column;
  gap: 8px;
}

.header-what-are-we-doing {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.flex-what-are-we-doing {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.images-what-are-we-doing {
  flex-basis: calc((100% - 48px) / 3);
}

.header-our-team {
  display: flex;
  justify-content: center;
}

.flex-our-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 72px;
}

.header-what-are-we-doing,
.header-our-team {
  color: var(--main-page-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.background-our-team {
  background-color: #f4f4fd;
}

.background-team-members {
  background-color: var(--background-color);
}

.team-members-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.company-team-members {
  color: var(--main-page-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-member-position {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.footer-background {
  background-color: var(--main-page-color);
}

.website-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-website-logo {
  color: var(--main-text-color-2);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-main-text {
  color: var(--main-text-color-2);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.portfolio-category-all {
  font-family: "Roboto", sans-serif;
  color: var(--main-page-color-2);
  background-color: var(--main-text-color-2);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.portfolio-category-all:hover,
.portfolio-category-all:focus {
  color: var(--background-color);
  background-color: var(--active-links-color);
}

.services-offered-list {
  color: var(--main-page-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4px;
}

.services-offered-branch {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}
